.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  //   padding: 2rem 0rem;
  width: 60%;
  flex-wrap: wrap;
  ul {
    @include flex(space-around, center, row);
    flex: 1 1 60rem;
  }
  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 2rem;
    }
  }
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  // flex-wrap: wrap;
  @include flex(space-between, center, row);
  h2 {
    font-size: 8rem;
    padding-top: 2rem;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
  }
  p {
    padding-top: 2rem;
    color: $gray-text;
  }
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}

.active {
  background: $gray-text;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

svg {
  overflow: visible;
}

#steam {
  opacity: 0%;
  animation: steam 5s 1.5s ease-in infinite;
}

#coffee {
  animation: coffee 1.5s cubic-bezier(0.32, 0.62, 0.61, 1.25);
}

#me {
  animation: me 2s infinite alternate;
}

@keyframes coffee {
  from {
    transform: translateX(90%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes steam {
  0% {
    transform: translateY(10%);
    opacity: 0%;
  }
  20% {
    opacity: 100%;
  }
  100% {
    transform: translateY(-30%);
    opacity: 0%;
  }
}

@keyframes me {
  from {
    transform: translateX(-1%);
  }
  to {
    transform: translateX(0%);
  }
}
